body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f8f9fa;
}

.logo {
    width: 100px;
}

.card {
    border-radius: 10px;
}

.form-control {
    height: 50px;
    font-size: 16px;
}

.btn-block {
    height: 50px;
    font-size: 16px;
}

.message {
    font-size: 14px;
}
